@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

#dropdown-menu-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-r .nav .link,
#dropdown-menu-r .dropdown-item {
  font-size: 1em;
  color: #efefef;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-r .navbar,
#dropdown-menu-r .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-r .dropdown-menu a:hover,
#dropdown-menu-r .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-r .navbar-toggler {
  color: #efefef;
}



#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #efefef;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-0 .navbar-toggler {
  color: #efefef;
}
#slider-1 H1 {
  color: #fac51c;
  font-family: 'Ubuntu', sans-serif;
}
#slider-1 P {
  color: #efefef;
  font-family: 'Arimo', sans-serif;
  text-align: right;
  font-size: 22px;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header3-k H3 {
  text-align: center;
}
#header3-k P {
  text-align: center;
}
#slider-j H1 {
  color: #28324e;
}
#slider-j P {
  color: #000000;
  text-align: right;
}
#feed-8 undefined {
  text-align: right;
}
#contacts2-7 P {
  text-align: left;
}

#dropdown-menu-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-v .nav .link,
#dropdown-menu-v .dropdown-item {
  font-size: 1em;
  color: #efefef;
  font-family: 'Source Sans Pro', sans-serif;
}
#dropdown-menu-v .navbar,
#dropdown-menu-v .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-v .dropdown-menu a:hover,
#dropdown-menu-v .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-v .navbar-toggler {
  color: #efefef;
}
